body{
    background-color: maroon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#head{
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
}
.link1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0%;
    background-color: rgb(0, 54, 91);
    height: 25px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}
.link1 a{
    text-decoration: none;
    color: aliceblue;
}
#name1{
    font-size: 25px;
}